<div class="card padding margin-top font">
        <h3 class="card-header text-center">Nrº. <%=article.id%> :<%= article.title%><h3>
        <div class ="card-body">
                <p class="text-secundary">Creado en: <%=article.created_at %></p>
                <%=link_to "Ver más", article , class:"btn btn-secondary text-decoration-none"%>
        </div>
</div>