@import '~bootstrap/scss/bootstrap';

body{
    background-color: blue;
}

.margin-top{
    margin-top: 1.5em;
}

.field{
    @extend .margin-top;
    label{
        @extend .text-uppercase;
        @extend .text-secundary;
    }

    &:first-of-type{
        margin-top: 0;
    }

    input{
        @extend .form-control;
        @extend .bg-ligh;
    }
    input[type='checkbox']{
        display: inline-block;
        width: auto;
        vertical-align: middle;
        margin-right: 0.5rem;
    }
}
