<div class="small-container center-block">
  <h1>Nueva Categoria</h1>

  <%= render "form", category: @category %>

  <br>

  <div>
    <%= link_to "Volver a la lista de categorias", categories_path %>
  </div>
</div>